<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<title>Game List</title>
	<meta name="viewport" content="initial-scale=1, width=device-width">
	
	<link rel="stylesheet" href="/assets/css/app.css" media="screen">
	<script src="/assets/js/angular.min.js"></script>
	<!-- Modules -->
    <script src="/assets/js/app.js"></script>
    <!-- Controllers -->
    <script src="/assets/js/controllers/appController.js"></script>
    <!-- Services -->
    <script src="/assets/js/services/gamelist.js"></script>
</body>
</head>

<body ng-app="gameList">
	<div class="main" ng-controller="appController">
		<div class="container">
			
			<h1>{{title}}</h1>
			<div class="gameItem gameList" ng-repeat="game in gamelist.games">
					<div class="twelve columns">
						<h3>{{game.name}}</h3>
						<p class="timePlayed">{{game.playtime_forever/60}} hours | {{game.totalPlayerAchievements}}/{{game.totalAchievements}} Achievements</p>
					</div>
					<ul>
						<li class="three columns" ng-repeat="achievement in game.achievements">
							<img class="achieveImg" ng-src="{{achievement.icon}}">
							<p class="achieveName">{{achievement.displayName}}</p>
							<p class="achieveDescription">{{achievement.description}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</html>